include *.cfg *.rst *.in tox.ini
graft bobtemplates
global-exclude *pyc
global-exclude tmp
global-exclude .tox
prune package_tests/*
prune skeleton-tests/*
exclude requirements.txt
exclude jsconfig.json
exclude constraints.txt
prune */__pycache__


